.payment-title {
    display: flex;
    justify-content: start;
    align-items: center;
    text-transform: capitalize;
    padding-bottom: 1rem;
}

.dropdown {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    color: var(--clr-gold);
    transition: all 0.3s linear;
}
.dropdown:focus {
    transform: rotate(180deg);
}

.payment-form {
    display: none;
}
.show-text .payment-form {
    display: block;
    animation: animate 1s 1 forwards;
    animation-direction: alternate;
}

@keyframes animate {
    0%{
        opacity: 0;
        width: 0;
        left: 100%;
        
    }
    10%{
        opacity: 0.1;
        width: 10%;
        left: 90%;
    }
    20%{
        opacity: 0.2;
        width: 20%;
        left: 80%;
    }
    30%{
        opacity: 0.3;
        width: 30%;
        left: 70%;
    }
    40%{
        opacity: 0.4;
        width: 40%;
        left: 60%;
    }
    50%{
        opacity: 0.5;
        width: 50%;
        left: 50%;
    }
    60%{
        opacity: 0.5;
        width: 60%;
        left: 40%;
    }
    70%{
        opacity: 0.5;
        width: 70%;
        left: 30%;
    }
    80%{
        opacity: 0.5;
        width: 80%;
        left: 20%;
    }
    90%{
        opacity: 0.5;
        width: 90%;
        left: 10%;
    }
    100%{
        opacity: 1;
        width: 100%;
        left: 0;
    }
}
