.quiz{
    display: none;
}

.showquiz{
    height: fit-content;
}

.formHide{
    display: none;
}

.click-container{
    display: grid;
    justify-content: space-evenly;
    align-items: center;
}

.click{
    align-content: center;
    text-align: center;
    padding: 20px 5px;
}

.click a{
    height: 5vh;
}
.click:hover{
    background-color: rgb(201, 200, 200);
    color: #333;
    width: fit-content;
    border-radius: 10px;
    height: fit-content;
    transition:all 2s ease-out;
}